<!--
<div class="modal-overlay" (click)="onClose()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>Criar Novo Evento</h2>
    <form [formGroup]="eventoForm" (ngSubmit)="onSubmit()" class="form">
      <div class="form-group">
        <label for="title">Título:</label>
        <input formControlName="titulo" id="title" name="title" [(ngModel)]="event.titulo" required />
      </div>
      <div class="form-group">
        <label for="date">Data:</label>
        <input formControlName="data"id="date" name="date" type="date" [(ngModel)]="event.data" required />
      </div>
      <div class="form-group">
        <label for="description">Descrição:</label>
        <textarea formControlName="descricao" id="description" name="description" [(ngModel)]="event.descricao" required></textarea>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-success">Salvar</button>
        <button type="button" (click)="onClose()" class="btn btn-secondary" >Cancelar</button>
      </div>
    </form>
  </div>
</div>



 -->
