

<header class="mx-auto bg-gray-900 p-4 flex max-w-7x1 ">
  <div class="container">
    <!-- Linha com o logo -->
    <div class="row w-1/4 mx-auto ml-[21%] mb-6">
      <div class="flex justify-between items-center rounded-lg">
        <img src="../../../img/Logo.png" class="h-12">
      </div>
    </div>
    <!-- Linha com a mensagem -->
    <div class="row w-1/4 ml-[22%] mx-auto ">
        <h4 class="text-2xl text-white font-semibold">Olá, Hassan Aris</h4>
        <p class="text-white-600">Tenha um bom evento!</p>
    </div>
  </div>
</header>


