.event-management-container {
  padding: 20px;
  background-color: #34495e; /* Fundo escuro */
  color: #ecf0f1; /* Cor clara para o texto */
  max-width: 60%;
  margin: auto;
}

.event-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.event-cards {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espaço entre os cards de evento */
}

.event-card {
  background-color: #2c3e50;
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.event-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-header h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.status-pending {
  background-color: #f39c12; /* Cor de fundo para "Aguardando confirmação" */
  color: #ffffff; /* Cor do texto */
  border-radius: 4px; /* Bordas arredondadas */
  padding: 2px 6px; /* Espaçamento interno */
  font-size: 14px; /* Tamanho da fonte */
}

.event-date {
  font-size: 14px;
  color: #7f8c8d; /* Cor cinza para a data */
}

.event-description {
  font-size: 14px;
  color: #ffffff; /* Cor escura para a descrição */
}

.event-actions {
  display: flex;
  gap: 10px; /* Espaço entre os botões */
}

.btn {
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
}

.btn-primary {
  background-color: #3498db; /* Cor de fundo para "Criar Novo Evento" */
}

.btn-info {
  background-color: #1e90ff; /* Cor de fundo para "Ver Detalhes" */
}

.btn-warning {
  background-color: #f39c12; /* Cor de fundo para "Editar" */
}
