<div class="bg-gray-900 flex items-center justify-center min-h-screen modal-overlay" (click)="onClose()">
  <div class="bg-gray-800 text-white p-6 rounded-lg shadow-lg w-96 modal-content" (click)="$event.stopPropagation()">
    <div *ngIf="isEditMode === false" class="flex justify-between items-center mb-4">
      <h2 class="text-xl text-gray-700">Adicionar Novo Evento</h2>
      <i class="fas fa-times cursor-pointer " (click)="onClose()"></i>
    </div>
    <div *ngIf="isEditMode === true" class="flex justify-between items-center mb-4">
      <h2 class="text-xl text-gray-700">Editar Evento</h2>
      <i class="fas fa-times cursor-pointer " (click)="onClose()"></i>
    </div>
    <p class="text-gray-600 mb-4">Preencha os detalhes do evento.</p>
    <form [formGroup]="eventoForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label class="block text-gray-400 mb-1" for="title">Título:</label>
        <input class="w-full p-2 rounded" formControlName="titulo" id="title" name="title" required />
      </div>

      <div class="mb-4">
        <label class="block text-gray-400 mb-1" for="date">Data:</label>
        <input class="w-full p-2 rounded" formControlName="data" id="date" name="date" type="date" required />
      </div>

      <div class="mb-4">
        <label class="block text-gray-400 mb-1" for="description">Descrição:</label>
        <textarea class="w-full p-2 text-white rounded" formControlName="descricao" id="description" name="description" required></textarea>
      </div>
      <div class="mb-4">
        <label class="block text-gray-400 mb-1" for="description">Selecione os Participantes:</label>
        <div class="custom-select full-width mb-1">
          <div class="select-selected text-gray-900 full-width" (click)="toggleDropdown()">
            {{ getSelectedNames() || 'Selecione...' }}
            <i class="fas fa-chevron-down"></i>
          </div>
          <div class="select-items text-gray-900 full-width" [class.select-hide]="!dropdownOpen">
            <!-- Exibe todos os participantes no dropdown -->
            <div *ngFor="let usuario of usuarios" class="select-item">
              <label (click)="toggleItem(usuario)" [class.selected]="isSelected(usuario)" [class.disabled]="isPreviouslySelected(usuario)">
                {{ usuario.nome }}
              </label>
            </div>
          </div>
        </div>
      </div>

      <button type="submit" class="w-full p-2 bg-orange-600 text-white rounded hover:bg-orange-700 btn">
        {{ isEditMode ? 'Salvar Alterações' : 'Criar' }}
      </button>
    </form>

  </div>
</div>
